<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author">
    <title>Uber Portal</title>

    <% if(env === 'development') { %>
        <link rel="stylesheet" href="javascripts/lib/bootstrap/dist/css/bootstrap.min.css?v=<%= deployVersion %>"/>
        <link rel="stylesheet" href="stylesheets/css/styles.css?v=<%= deployVersion %>"/>
        <link rel="import" href="javascripts/lib/polymer/polymer.html">
    <% } else { %>
        <link rel="stylesheet" href="javascripts/lib/bootstrap/dist/css/bootstrap.min.css?v=<%= deployVersion %>"/>
        <link rel="stylesheet" href="stylesheets/css/styles.min.css?v=<%= deployVersion %>"/>
    <% } %>

</head>
<body>
<div class="scripts">
    <% if(env === 'development') { %>
        <script src="javascripts/lib/jquery/dist/jquery.js?v=<%= deployVersion %>" type="text/javascript"></script>
        <script src="javascripts/lib/bootstrap/dist/js/bootstrap.js?v=<%= deployVersion %>" type="text/javascript"></script>
    <% } else { %>

    <% } %>
</div>
